<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  

  <!-- Tile display based on selection -->
  <main class="container">
    <h3 class="display-4"> <%= title %> </h3>

    
    <%- include partials/homepage.ejs %>
    <%- include partials/contactme.ejs %>

    <!-- About Me content-->
        <% if (title == "About Me") { %>
          <img src="/Assets/images/profilepic.jpg" alt="" width="300" height="300"> 
          <br><br>
          <p>I'm Sahil Shah, currently enrolled at Centennial College in Software Engineering & AI course</p>
          <p>I'm interested in exploring the field of Machine Learning and Data Science while strengthening the fundamentals of Software Engineering. I hold a Bachelors degree in Biotech Engineering and have roughly 6 years of work experience working in the Quality Assurance department of Food Manufacturing industry </p>
          <p>Please feel free to check out my <a href=/Assets/documents/Resume.pdf>Resume</a> for additional details</p>
        
    <!-- Projects content-->
        <% }else if (title == "Projects") { %>
          <div class="row">
            
            <!--Column 1-->
            <div class="column">
            <p>Catch Game</p>
            <img src="Assets/images/catch.gif"alt="" width="333" height="333">
            <p>Game created using html and javascript where the character randomly hops around the screen. Its speed increases with each successful catch and the user earns points for it</p>
            </div>
            
            <!--Column 2-->
            <div class="column">
            <p> Form </p>
            <img src="Assets/images/formvalidation.png"alt="" width="333" height="333">
            <p>Form created for gathering and storing data. Validation parameters of the form set using javascript</p>
            </div>
            
            <!--Column 3-->
            <div class="column">
            <p> Photo slider </p> 
            <img src="Assets/images/photoslider.png"alt="" width="333" height="333"> 
            <p>Image slider for 5 images created using DOM, html and javascript. User can enlarge each image by clicking on it and can store it as favorite in the panel underneath the slider </p>  
            </div>
          </div>
        
    
    <!-- Services content-->
        <% } else if (title == "Services") { %>
          <div class="row">
            <!--Column 1-->
              <div class="column">
              <p>Data Analytics</p>
              <img src="Assets/images/analytics.jpg"alt="" width="333" height="333">
              </div>
              <!--Column 2-->
              <div class="column">
              <p>Web Development</p>
              <img src="Assets/images/webdev.jpg"alt="" width="333" height="333">
              </div>
              <!--Column 3-->
              <div class="column">
              <p>Technical Consulting </p>
              <img src="Assets/images/consulting.jpg"alt="" width="333" height="333">
              </div>
          </div>

        <% } %>
  </main>
  
<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>
  